.btn {
	border: none;
	font: inherit;
	color: inherit;
	cursor: pointer;
	line-height: 0;
	outline-offset: -2px;

	@for $i from 2 to 7 {
		$i: $i * 100;
		&--shade-#{$i} {
			background-color: var(--shade-#{$i});
		}
	}

	&--primary {
		--background: var(--primary);
		background-color: var(--background);
		color: var(--shade-100);
	}

	&--lg {
		grid-column: span 2;
	}

	&--theme-toggle {
		color: var(--text);
		background-color: transparent;

		&:not(.active) {
			opacity: 0.5;
		}
	}

	&--theme-toggle + &--theme-toggle {
		margin-left: 0.5rem;
	}

	&:hover {
		filter: brightness(90%);
	}

	&:active {
		filter: brightness(85%);
	}
}
