@use './utils' as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	min-height: 100vh;
	min-height: 100dvh;
	@include grid-center;
	color: var(--text);
}

output {
	--background: var(--shade-100);
	background-color: var(--background);
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	grid-row: span 3;
	grid-column: span 4;
	padding: 1rem;
	font-size: 1.5rem;
}

.wrapper {
	display: grid;
	width: min(100vw, 375px / 1.25);
	height: min(100vh, 752px / 1.25);
	grid-template-columns: repeat(4, 1fr);
	grid-auto-flow: row;
	border-radius: 16px;
	overflow: hidden;
	aspect-ratio: 1 / 2;
}
